.aside-container{
    margin-left: 1rem;

}
.aside-input{
    display: flex;
    align-items:center;
    background-color: var(--bg-color);
    padding:10px;
    border-radius: 20px;
    margin-top: 10px;

}
.aside-input input{
    border:none;
    background-color: var(--bg-color);
    outline:none;
}
.aside-input .aside-search{
    color:gray;
}
 
.aside .aside-header{
    font-size: 18px;
    font-weight: 800;
    margin-top: 5px;
}

.aside-item-headerSpecial{
    color:gray;
    font-size: 12px;
    font-weight:600;
}
.aside-item-headerText {
    display: flex;
    flex-direction: column;
    
    
    
}

.follow-btn{
    border:none;
    border-radius: 30px;
    outline:none;
    background-color: var(--primary-background-color);
    color:white;
    padding:10px;
}
.aside.aside-item .aside-avatar{
    width:50px;
    height:50px;
}
@media only screen and (max-width:1200px){
   .aside-container{
       flex:0.2;
       min-width:min-content;
       
   }
   .aside-item{
       padding: 0px;
   }
   .aside-item-headerSpecial{
   display: none;
}
   .aside-items{
       margin-left: 0;
   }
    
}
@media only screen and (max-width:900px){
    .aside-container{
       display:none;
    }
    
     
 }