

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  --primary-color:#b042ff;
  --primary-background-color:#c175ff;
  --secondary-color:#8E0FED;
  --bg-color:#f1f1f1;
  font-family: 'Open Sans', sans-serif;
  

}
